{% extends 'base.html' %}
{% load gravatar %}
{% load staticfiles %}
{% block title%}All users{% endblock title %}
{% block css %}
	<style>
	.container.main-content {
			min-height: 300px;
		}
		.user-wrapper, .content-type {
			display: none;
		}
		.username, .user-name {
			font-weight: bold;
		
		}
		.user-contact {
			margin-left: 15px;
		}
		.user-c-heading {
			margin-top: 5px;
			padding-bottom: 25px;
		}
		.main-image {
	background: url('https://trello-attachments.s3.amazonaws.com/5585ac604e4d95cb6a64c0a7/1263x250/b83ac9cea29d4685a83990f187dd3f8e/banner4.png') no-repeat center center;
  	height: 245px;
  	position: relative;
  	margin-top: -20px;
}	
		.left-news {
			display: none;
		}

		.categories {
			padding-top: 20px;
		}

		.single-user {
			padding-top: 25px;
		}

		.edit-profile {
			color: #333;
			text-decoration: underline;
		}

		.section-heading {
			
			font-weight: bold;
		}

		.below {
			margin-left: -15px;
		}

		.categories {
			display: none;
		}
		.single-user {
			min-height: 300px;
		}

		.content-box {
			height: auto;
			padding: 0;
		}

		img.event-user.text-center {
			  height: 78px;
  position: absolute;
  top: 91px;
  border-radius: 50%;
  left: 33%;
		}

		.user-box {
			padding-top: 25px;
			margin-left: 15px;
		}

		.sidebar {
			margin-top: 0;
		}

		

		{% if request.user.is_authenticated %}
		

		p.date, 
		h3.user-title,
		{
			color: #333;
		}
		{% endif %}
	</style>
{% endblock css %}
{% block content %}
	<div class="container single-user">	
		<div class="row">
			{% for user in users %}
			<div class="col-lg-3">


			<div class="content-box">
				<img src="{% static 'images/user_banner.png' %}">
						
					<img class="event-user text-center" src="{% gravatar_url user.email 55 %}">
					<div class="user-box">

					<h3 class="user-title">{{user.username|upper}}</h3>
					
					
					<p class="date">{{user.first_name}} {{user.last_name}}</p>
					
					<p class="city ">{% if not user.userprofile.city %} Unknown city {% else %}{{user.userprofile.city}}{% endif %}</p>
					<p class="user-web"><a href="mailto:{{user.email }}">Contact {{user.first_name}}</a></p>
					
					
					
					
				
				</div>
			</div>
			</div>
{% endfor %}
			</div>
			
		</div>

	</div>



{% endblock content %}